# Terraform specific ignores
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate*
var.auto.tfvars

# Crash logs
crash.log

# IDE specific
.idea
.vscode

# Config files
tool-config.yml
*config

# Dynamic high-availability folders and files
high-availability-*/*
high-availability-*/
*/high-availability-*/

# Generated script files
**/cluster.yml
**/install.sh
**/cert-manager.sh
**/cacert.sh
**/aws_lb*.txt

# Ensure no certificates are committed
*.pem
*.crt
*.key

# Logs
*.log

# Local development files
.env
.env.*